body {
    font-family: Arial, sans-serif;
    display: inline-flex;
    margin:0 auto;
}

#bac-form {
    width: 600px;
    margin: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #e7cccc;
}
.drink-item {
    margin-bottom: 10px;
}
.standard-drink-info {
    margin-top: 50px;
    height:400px;
}
#result {
    font-weight: bold;
}
#image-container img {
    width:500px;
}